/* Definição de variáveis globais para cores primária e secundária */
:root {
    --cor-primaria: #d3ec5b;
    --cor-secundaria: #cd4a0d;
}

/* Estilização do container principal da aplicação */
.App {
    width: 100vw; /* ocupa toda a largura da tela */
    height: 100vh; /* ocupa toda a altura da tela */
    background-image: linear-gradient(90deg, #c2c3c3 35%, #f8f8f8 100%);
}

li {
    list-style: none;
}